.googleButton{
    background-color: #4c8bf5  !important;
    color: white !important;
    height:40px;
    width:100%;

    .google-text{
        font-weight: bold;
        padding-left: 10px;
    }
}