.sign-in{
    width:380px;
    display: flex;
    flex-direction: column;

    .title{
        margin:10px 0;
    }

    .buttons{
        display:flex;
        justify-content: space-between;
    }

    .error{
        color:red;
        font-size:small;
        font-weight: bold;
        margin-top: 20px;
    }

    a{
        cursor: pointer;
        color:#3da260;
    }
}