.forgot-password{
    padding-top:1px;
    padding-bottom: 20px;
    margin: 0 auto;
    width:30%;
}

@media only screen and (max-width: 680px){
    .forgot-password{
        width:90%;
    }
}